@import '../colors';
@import '../mixins';


.shopContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 40px 40px 40px;

    &.admin {
        padding-top: 20px;
    }

    @include mixinBreakpoints(md) {
        padding: 120px 20px 20px 20px;
    }

    @include mixinBreakpoints(xss) {
        padding: 120px 15px 15px 15px;
    }

    .dashedSeparator {
        border-top: 2px dashed $orangeHoll;
        margin-top: 20px * 2;
    }

    .containerBtnBack{
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: flex-start;
    }

    .shop {
        max-width: 1440px;
        width: 100%;

        h2 {
            font-size: 21px;
            margin-bottom: 10px;
            font-weight: 600;

            @include mixinBreakpoints(sm) {
                text-align: center;
                font-size: 19px;
                margin-top: 50px;
            }

            @include mixinBreakpoints(xss) {
                text-align: center;
                font-size: 17px;
            }
        }

        #overview {
            width: 100%;

            .shopInfos {
                display: flex;
                align-items: center;
                column-gap: 10px;

                @include mixinBreakpoints(sm){
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 5px;
                }

                .openStatus {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #303030;

                    @include mixinBreakpoints(sm) {
                        font-size: 15px;
                    }

                    @include mixinBreakpoints(xss) {
                        font-size: 13px;
                    }
                }

                .line{
                    @include mixinBreakpoints(sm){
                        display: none;
                    }
                }

                h1 {
                    font-size: 25px;
                    font-weight: 600;
                    display: inline;
    
                    @include mixinBreakpoints(sm) {
                        font-size: 20px;
                    }

                    @include mixinBreakpoints(xss) {
                        font-size: 18px;
                    }
                }
            }

            .shopPhotos {
                margin-top: 10px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 15px;
                line-height: 1;
                width: 100%;

                @include mixinBreakpoints(md) {
                    gap: 10px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                }

                @include mixinBreakpoints(xs) {
                    grid-template-columns: repeat(2, 1fr);
                }

                img,
                span {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    aspect-ratio: 2/1.25;
                    object-fit: cover;

                    &:first-child {
                        grid-column: span 2;
                        grid-row: span 2;
                    }

                    @include mixinBreakpoints(md) {
                        border-radius: 10px;

                        &:first-child {
                            grid-area: 1 / 1 / 3 / 3;
                        }

                        &:nth-child(2) {
                            grid-area: 1 / 3 / 3 / 4;
                            height: 100%;
                        }

                        &:nth-child(3) {
                            grid-area: 3 / 1 / 4 / 2;
                        }

                        &:nth-child(4) {
                            grid-area: 3 / 2 / 4 / 3;
                        }

                        &:last-child {
                            grid-area: 3 / 3 / 4 / 4;
                        }
                    }

                    @include mixinBreakpoints(xs) {

                        &:first-child {
                            grid-area: 1 / 1 / 3 / 3;
                        }

                        &:nth-child(2) {
                            grid-area: unset;
                        }

                        &:nth-child(3) {
                            grid-area: unset;
                        }

                        &:nth-child(4) {
                            grid-area: unset;
                        }

                        &:last-child {
                            grid-area: unset;
                        }
                    }
                }
            }

            .shopDescription {
                margin-top: 1.5rem;

                p {
                    margin-top: 10px;
                    color: $grayText;
                    font-size: 1rem;
                }
            }
        }

        #products {
            margin-top: 40px;
            width: 100%;

            @include mixinBreakpoints(sm) {
                margin-top: 20px;
            }

            .productList {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;

                @include mixinBreakpoints(xxl) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include mixinBreakpoints(lgx) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mixinBreakpoints(xss) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .product {
                    background-color: white;
                    padding: 8px ;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    width: 100%;

                    .productTop {

                        img {
                            border-radius: 15px;
                            width: 100%;
                            object-fit: cover;
                            aspect-ratio: 4/3;

                            @include mixinBreakpoints(xss){
                                aspect-ratio: 2/1;
                            }
                        }
                    }

                    .productBottom {
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;

                        .productPrice {
                            font-size: 1.25rem;
                            font-weight: 600;
                            color: currentColor;
                            width: fit-content;
                            @include transition(0.3s ease-in-out);

                            &:hover {
                                color: $orangeHoll;
                            }
                        }

                        .productName {
                            margin: 10px 0;
                            font-size: 1rem;
                            font-weight: 500;
                            color: currentColor;
                            width: fit-content;
                            @include transition(0.3s ease-in-out);

                            &:hover {
                                color: $orangeHoll;
                            }
                        }


                        .productActions {
                            margin-top: auto;
                            padding-top: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            column-gap: 10px;
                            row-gap: 5px;

                            @include mixinBreakpoints(lgx){
                                column-gap: 5px;
                            }

                            .discoverBtn {
                                color: white;
                                background-color: #303030;
                                padding: 8px 25px;
                                border-radius: 9999px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 13px;
                                width: fit-content;
                                font-weight: 500;
                                @include transition(0.3s ease-in-out);

                                &:hover {
                                    background-color: #202020;
                                }
                            }

                            .addToCartBtn {
                                color: white;
                                background-color: $orangeHoll;
                                padding: 10px 15px;
                                border-radius: 9999px;
                                border: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 0.625rem;
                                cursor: pointer;
                                width: fit-content;
                                white-space: nowrap;
                                font-size: 0.75rem;
                                font-weight: 500;
                                @include transition(0.3s ease-in-out);

                                svg {
                                    height: 1rem;
                                    width: 1rem;

                                    path {
                                        stroke: currentColor;
                                    }
                                }

                                &:hover {
                                    background-color: #DD5502;
                                }
                            }


                            .outStockBtn {
                                color: white;
                                background-color: $grayDisabled;
                                padding: 8px 25px;
                                border-radius: 9999px;
                                width: fit-content;
                                border: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 5px;
                                white-space: nowrap;
                                font-size: 0.75rem;
                                font-weight: 500;

                                svg {
                                    height: 1rem;
                                    width: 1rem;

                                    path {
                                        stroke: currentColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #contact {
            margin-top: 20px;
            display: flex;
            gap: 6.25rem;

            @include mixinBreakpoints(lgx) {
                gap: 3rem;
            }

            @include mixinBreakpoints(sm) {
                flex-direction: column;
            }

            .location {
                width: 50%;
                line-height: 1;

                @include mixinBreakpoints(sm) {
                    width: 100%;
                }

                .mapContainer {
                    height: 95%;
                    margin-top: 1rem;
                }
            }

            .artisan {
                width: 50%;

                @include mixinBreakpoints(sm) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .artisanProfile {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 1.875rem;

                    .artisanAvatar {
                        img {
                            border-radius: 9999px;
                            object-fit: cover;
                            width: 6.75rem;
                            height: 6.75rem;
                        }
                    }

                    .artisanInfos {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;

                        .artisanName {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 1.125rem;
                        }

                        .artisanSince {
                            color: $grayText;
                            font-size: 0.9rem;
                        }
                    }
                }

                .contactBtn {
                    margin-top: 2.5rem;
                    background-color: white;
                    border-radius: 9999px;
                    padding: 0.625rem 1.5rem;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.75rem;
                    width: fit-content;
                    @include transition(0.3s ease-in-out);

                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }

                .artisanContact {
                    margin-top: 1.875rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;

                    a,
                    p,
                    .shopOpeningHours {
                        color: #303030;
                        display: flex;
                        align-items: center;
                        gap: 0.75rem;
                        width: fit-content;
                        @include transition(0.3s ease-in-out);

                        &:hover:not(p, .shopOpeningHours) {
                            color: $orangeHoll;
                        }
                    }

                    .shopOpeningHours {
                        display: flex;
                        align-items: start;

                        svg {
                            margin-top: 4px;
                        }

                        details {
                            summary {
                                cursor: pointer;
                                text-decoration: underline;
                            }

                            &[open] summary {
                                font-weight: bold;
                            }
                        }
                    }
                }

                .artisanSocials {
                    margin-top: 3rem;
                    display: flex;
                    column-gap: 20px;

                    svg {
                        color: black;
                        font-size: 30px;
                        transition: 0.3s ease-in-out;
                        @include transition(0.3s ease-in-out);

                        &:hover {
                            color: $orangeHoll;
                        }
                    }
                }
            }
        }

        #reviews {
            margin-top: 20px;
        }
    }
}