@import '../../scss/colors';
@import '../../scss/mixins';

.inscriptionFormMailDestinataire {
    padding: 5px 0;
    margin: 15px 0;
    text-align: center;

    span{
        color: $orangeHoll;
    }
}

.inscriptionFormMailTime {
    padding: 5px 0;

    span{
        color: $orangeHoll;
    }
}

.inscriptionFormMailTimeRemain {
    padding: 5px 0;
    span{
        color: $orangeHoll;
    }
}

.inscriptionFormMailLinkValidate {
    cursor: pointer;
    color: $orangeHollHover;
    text-decoration: underline;
}

.inscriptionFormMailTimeFinished{
    cursor: default;
    color: $grayLight;
}

.inscriptionForm {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0;
        font-weight: 600;

        input {
            padding: 15px 20px;
            margin-top: 5px;
            border: none;
            background-color: #F8F8F8;
            border-radius: 7px;
            font-size: 12px;
        }
    }
}

.sentence{
    margin: 10px 0;
    display: flex;
    align-items: center;
    column-gap: 5px;

    svg{
        color: $orangeHoll;
    }
}